#wheather-widget
{
    width: 80%;
    margin: auto;
}

#widget
{
    width: 80%;
    margin: 3% auto;
    padding: 25px;
    background-image: url("../img/clear.gif");
    background-size: cover;
    background-position: bottom;
}

#search-bar
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar svg
{
    height: 20px;
    padding: 7px;
    border: 1px solid #000;
    border-left-width: 0;
}

#search-bar input[type="text"]
{
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000;
    border-right-width: 0;
}

.wheather-widget-image
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wheather-widget-image-desc
{
    margin: 25px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.main-widget-info
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wheather-widget-stats
{
    width: 50%;
    text-align: center;
    font-size: 19px;
}

.wheather-widget-stats-desc
{
    color: #fff;
}

.temp
{
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
}

.wheather-widget-next-days
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 0;
    color: #fff;
    font-size: 18px;
}

.wheather-widget-day
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
